<!DOCTYPE html>
<html>
<head>
	{{! Document Settings }}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />

	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">
	<link rel="apple-touch-icon" sizes="160x160" href="{{asset "img/logo-160x.png"}}"> 
	<link rel="icon" type="image/png" sizes="160x160" href="{{asset "img/logo-160x.png"}}">

	{{! Styles'n'Scripts }}
	<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
	<!-- <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'> -->
	<!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" /> -->

	<script type="text/javascript" src="{{asset "js/jquery-1.11.3.min.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

	{{! Ghost outputs important style and meta data with this tag }}
	{{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

	{{navigation}}

	<div class="site-wrapper">

		{{! Everything else gets inserted here }}
		{{{body}}}

		<footer class="site-footer clearfix">
			<section class="copyright"> <a href="edit/">&copy;</a> {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a></section>
		</footer>

	</div>

	{{! Ghost outputs important scripts and data with this tag }}
	{{ghost_foot}}

	{{! The main JavaScript file for Casper }}
	<script type="text/javascript" src="{{asset "js/index.js"}}"></script>
</body>
</html>
